:root {
    --main-color: #212121;
    --add-color: #757575;
    --accent-color: #2196F3;
    --bg-color: #2F303A;
    --main-background-color: #ffffff;
    --header-color: #333333;
    --link-color: #007bff;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    max-width: 1600px;
}
.counteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/* хедер */
.header {
    padding-bottom: 25px;
    padding-top: 24px;

}
.header-position {
    display: flex;
    align-items: center;
}
.box-link {
    font-family: var(--second-family);
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: #2196f3;
}
.logo-web {
    color: var(--accent-color)
}
.logo-studio {
    color: black;
}
.header-navigation {

}
.navigation-list {
display: flex;
margin-left: 93px;
column-gap: 50px;
}
.item-link {
    font-family: var(--font-family);
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #212121;
}
.contacts {
display: flex;
margin-left: auto;
column-gap: 50px;
}
.contacts-link {
    font-family: var(--font-family);
        font-weight: 500;
        letter-spacing: 0.02em;
        color: #757575;
}
.contacts-link:hover,
.item-link:hover {
    color: var(--accent-color);
}
/* мейн */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
}
.hero-title {
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    font-family: var(--font-family);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
}
.hero-button {
    display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        background-color: var(--accent-color);
        padding: 10px 32px;
    font-family: var(--font-family);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
}
.info {
    padding-top: 94px;
    padding-bottom: 94px;
}
.info-list {
    display: flex;
    column-gap: 30px;
}
.list {

}
.main-word {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
}
.work {
    padding-bottom: 94px;
}
.work-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 30px;
}
.work-list {
    display: flex;
    column-gap: 30px;
}
.list-images {

}
.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}
.our-team-title {
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #212121;
        margin-bottom: 50px;
}
.our-team-list {
    display: flex;
    column-gap: 30px;
}
.list-workers {
    flex-basis: calc((100% - 90px) / 4);
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}
.list-workers-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.worker-title {
    font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #212121;
        margin-bottom: 10px;
}
.works {
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #757575;
}
/* футер */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-color);
}
.footer-position  {
    display: flex;
    flex-direction: column;
}
.box-link {
    margin-bottom: 20px;
}
.logo-studio-footer {
    color: #ffffff;
}
.contacts-list {
    font-style: normal;
}
.contacts-link {
    line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.contacts-link.address {
    color: #fff;
}